<%- include("template/cabecera",{tituloweb:"Pagina de Inicio"}) %>

  <body>
    <h1 class="text-primary">Inventario 1.0</h1>
    <h2>
      <%= titulo%>
    </h2>

    <%- include("template/footer") %>